[user]
	name = Mikael Auno
	email = mikael@auno.se
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	stat = status
[core]
    excludesfile = /home/auno/.gitignore
[push]
	default = simple
[github]
	user = auno
[include]
    path = .gitconfig-host-specific
[diff]
	algorithm = patience
