[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/embear/vim-localvimrc.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
