[github]
	user = auno
[user]
	name = Mikael Auno
	email = auno@kth.se
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	stat = status
[core]
    excludesfile = /home/auno/.gitignore
[include]
    path = .gitconfig-host-specific
